@model ContentManagerMVC.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Player</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IP)
    </div>
</fieldset>
<table>
    <tr><td>
            <span>Schedules:</span> 
            <span>@Html.ActionLink("Add Schedule", "Index")</span>
    </td></tr>
    <tr>
        <td colspan="100%">
            @foreach (var sche in Model.Schedules)
            {
                <p>
                    @Html.DisplayFor(schetitle => sche.schedule.Title)
                    <span>Start from: </span> 
                    @Html.DisplayFor(schestart => sche.schedule.StartTime)     
                    <span>to </span>
                    @Html.DisplayFor(schestart => sche.schedule.EndTime)     
                </p>
            }
         </td>

     </tr>
     </table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
