@model ContentManagerMVC.Models.Player

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Player</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IP)
            @Html.ValidationMessageFor(model => model.IP)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<table>
    <tr><td>
            <span>Schedules:</span> 
            <span>@Html.ActionLink("Add Schedule", "Index")</span>
    </td></tr>
    <tr>
        <td colspan="100%">
            @foreach (var sche in Model.Schedules)
            {
                <p>
                    @Html.DisplayFor(schetitle => sche.schedule.Title)
                    <span>Start from: </span> 
                    @Html.DisplayFor(schestart => sche.schedule.StartTime)     
                    <span>to </span>
                    @Html.DisplayFor(schestart => sche.schedule.EndTime)     
                </p>
            }
         </td>

     </tr>
     </table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
