@model IEnumerable<ContentManagerMVC.Models.Player>

@{
    ViewBag.Title = "SearchIndex";
}

<h2>SearchIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("SearchIndex", "Player", FormMethod.Get))
    {    
         <p> Title: @Html.TextBox("SearchString")<br />  
         <input type="submit" value="Filter" /></p> 
    }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    <tr>
        <td colspan="100%">
            <span>Schedules:</span> 
            @foreach (var sche in item.Schedules)
            {
                <p>
                    @Html.DisplayFor(modelItem => sche.schedule.Title)
                    <span>Start from: </span> 
                    @Html.DisplayFor(modelItem => sche.schedule.StartTime)     
                    <span>to </span>
                    @Html.DisplayFor(modelItem => sche.schedule.EndTime)     
                </p>
            }
         </td>
    </tr>
}

</table>
