@model ContentManagerMVC.Models.Schedule

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Schedule</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Continuous)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Continuous)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlayOnePerRound)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlayOnePerRound)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mon)

        @Html.DisplayFor(model => model.Mon)

         @Html.DisplayNameFor(model => model.Tue)

        @Html.DisplayFor(model => model.Tue)

         @Html.DisplayNameFor(model => model.Wed)

        @Html.DisplayFor(model => model.Wed)

         @Html.DisplayNameFor(model => model.Thr)

        @Html.DisplayFor(model => model.Thr)

         @Html.DisplayNameFor(model => model.Fri)

        @Html.DisplayFor(model => model.Fri)

         @Html.DisplayNameFor(model => model.Sat)

        @Html.DisplayFor(model => model.Sat)

         @Html.DisplayNameFor(model => model.Sun)

        @Html.DisplayFor(model => model.Sun)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
