@model PagedList.IPagedList<ContentManagerMVC.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
         @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
         @Html.ActionLink("Start Time", "Index", new { sortOrder = ViewBag.StartTimeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
         @Html.ActionLink("End Time", "Index", new { sortOrder = ViewBag.EndTimeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>Mon
        </th>
        <th>Tue
        </th>
        <th>Wed
        </th>
        <th>Thr
        </th>
        <th>Fri
        </th>
        <th>Sat
        </th>
        <th>Sun
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sun)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>


    </tr>
    <tr>
            <td colspan="100%">
                <span>Continuous</span>
                <span>@Html.DisplayFor(modelItem => item.Continuous)</span>
                <span>    </span>
                <span>Play One Per Round</span>
                <span>@Html.DisplayFor(modelItem => item.PlayOnePerRound)</span>
            </td>
    </tr>
    <tr><td colspan="100%">
            <span style="font-weight: bold;">Contents </span> <span>@Html.ActionLink("Details", "ScheduledItemDetails", new { scheduleid = item.ID })</span> 
        </td>               
    </tr>
    <tr>
        <td colspan="100%">
            @foreach (var content in item.Contents)
            {           
               <p> @Html.DisplayFor(itemname => content.Content.Title) </p>
            }
        </td>
    </tr>
}

</table>

